html{
    scroll-behavior: smooth;
}

body{
  background-color: #ddd;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

h1{
  font-size: 50px;
  line-height: 1;
  padding: 50px 0;
  text-align: center;
}

h2{
  font-size: 32px;
  line-height: 1.5;
}

#w3purple {
  background-color: purple;
}